# Workflow to deploy demo components (infrastructure)

name: Deploy ADF-SQL-Function

# Controls when the action will run. 
on:
 workflow_dispatch:
    inputs:
      subscriptionId:
        description: 'SubscriptionId'
        required: true
      resourceGroupName:
        description: 'Resource group name'
        required: true
        default: 'rg-ais-demos'
      sqlServerName:
        description: 'SQL Server name'
        required: true
        default: 'sqlsrv'
      sqlLogin:
        description: 'SQL Login id'
        required: true
        default: 'virou'
      sqlLoginPwd:
        description: 'SQL Login pwd'
        required: true
        default: 'PassW0rd1!'
      sqlDatabase:
        description: 'SQL Database name'
        required: true
        default: 'usecase3'
      sqlDataFactory:
        description: 'DataFactory name'
        required: true
        default: 'adfdemo'
      funcAppName:
        description: 'Function name (minimum 10 char)'
        required: true
        default: 'snowvro123456'

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './function'    # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: '3.1'              # set this to the dotnet version to use


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy-infra-as-code:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_RBAC_CREDENTIALS }}

      - name: deploy_adf+sqldb
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{github.event.inputs.subscriptionId}}
          resourceGroupName: ${{github.event.inputs.resourceGroupName}}
          template: ./infra/iac_sql_adf.bicep
          parameters: sqlserverName=${{github.event.inputs.sqlServerName}} sqllogin=${{github.event.inputs.sqlLogin}} sqlpassword=${{github.event.inputs.sqlLoginPwd}} sqlDatabase=${{github.event.inputs.sqlDatabase}} datafactory=${{github.event.inputs.sqlDataFactory}}

      - name: deploy_function-app
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{github.event.inputs.subscriptionId}}
          resourceGroupName: ${{github.event.inputs.resourceGroupName}}
          template: ./infra/iac_azfunction-app.bicep
          parameters: appName=${{github.event.inputs.funcAppName}} 